<h1>{{ title }}</h1>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroe was deleted: <small class="text-danger"> {{ deletedHero }} </small> </h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>Nothing was deleted</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0, else nothingToDelete"
  (click)="removeLastHero()"
  class="btn btn-outline-danger" >
  Delete Last Heroe
</button>


<ng-template #nothingToDelete>
  <button
    (click)="reset()"
    class="btn btn-outline-danger" >
    Reset
  </button>
</ng-template>


<ul class="mt-2 list-group">
  <li
    *ngFor="let hero of heroNames"
    class="list-group-item">
    <strong>{{ hero }}</strong>
  </li>
</ul>
